/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.custom-dialog-container {
  min-width: 100%;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.custom-dialog-container .mat-dialog-container {
  background-color: #2a3679;
  color: white;

}

.full-width {
  width: 100%;
}
