table {
  width: 100%;

  overflow: auto;
  max-height: 500px;
  max-width: 100%;
}

.filter {
  font-size: 14px;
  margin-left: 25%;
  margin-right: 25%;
}

td, th {
  /*width: 25%;*/
  flex-direction: column;
  text-align: left;

}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
